.container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
}


.buscador{
    grid-area: 2 / 3 / 2 / 3;
    border: solid 2px red;
    width: 400px;
}

.detalle{
    grid-area: 2/ 2/ 4/ 5;
    border: solid 2px blue;
    height: 300px;
}