*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(243, 239, 236);
}

.galeria{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: auto;
    grid-template-areas: "card card card card";
    justify-items: center;
}

.card{
    grid-area: card;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    max-width: 300px;
    height: 430px;
    margin: 50px 25px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
}

.card__img img{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.card__text h2, p, h4{
    text-align: center;
    text-transform: uppercase;
    margin: 10px 0px;
}

.card:hover{
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
}

.card__btn{
    width: 120px;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    font-size: 1em;
    margin-top: 15px;
    padding: 5px 8px;
    background-color: rgb(26, 177, 144);
    color: white;
    border: solid 1px rgba(0, 0, 0, 0);
    border-radius: 3px;
    
}

.card__btn:hover{
    cursor: pointer;
    background-color: rgb(11, 139, 112);
}

.card__btn:active{
    background-color: white;
    color: black;
    border: solid 1px black;
}

.contador{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 200px;
}

.contador input{
    width: 30px;
}

.card__detail{
    position: relative;
    top: 80px;
    width: 900px;
    height: 300px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
    margin: auto;
}


.card__detail--container{
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 80px 80px 80px 80px;
    grid-template-areas: 
    "img text inputs"
    "img text inputs"
    "img text inputs"
    "img text inputs";
    align-items: stretch;
    justify-items: center;
}

.card__detail--img{
    grid-area: img;
}

.card__detail--info{
    grid-area: text;
    align-self: center;
}

.card__detail--inputs{
    grid-area: inputs;
    text-align: center;
    text-transform: uppercase;
    margin: 10px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
